@use "../../../../app/variables" as *;
@use "sass:color";

.game-purchase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background: $gray;
  padding: 0.3rem;
  max-width: 256px;
  height: 48px;
  color: $black;

  p {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .purchase-button {
    transition:
      background $transition-default,
      transform $transition-default;
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;
    background: $primary;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;

    &:hover {
      transition: background $transition-short;
      background: $primary-hover;
    }
    &:active {
      transform: scale(0.95);
      transition:
        background $transition-short,
        transform $transition-short;
      background: color.adjust($primary-hover, $lightness: -10%);
    }
  }
}
