/*
Category: Colors
*/

$white: #fff;
$gray: #d3d3d3;
$black: #000;
$primary: #007bff;
$primary-hover: #0056b3;

/*
Category: Animations
*/
$transition-short: 0.15s ease-in-out;
$transition-default: 0.35s ease-in-out;
