.game-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;
  overflow-x: scroll;

  img {
    border-radius: 0.5rem;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
}
