.game-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;
  overflow-x: scroll;
  .game-row-image {
    width: 100%;
    max-width: 150px;
    max-height: 100px;
  }
}
