<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="f:\\logs\\nlog-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="File" name="all_logs_file" fileName="f:\\logs\\all.log"/>
		<target xsi:type="File" name="important_logs_file" fileName="f:\\logs\\important.log"/>

		<target xsi:type="ColoredConsole" name="logconsole" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="all_logs_file" />
		<logger name="*" minlevel="Warn" writeTo="important_logs_file" />
		<logger name="*" minlevel="Error" writeTo="important_logs_file" />
		<logger name="*" minlevel="Fatal" writeTo="important_logs_file" />
	</rules>
</nlog>