@use "../../../../../app/variables" as *;

.store-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.75rem;
  transition: transform $transition-default;
  margin: 1rem 0;
  border: 0.0625rem solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  width: 18.75rem;
  height: 18.75rem;
  color: $white;
  text-align: left;

  h2 {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 0.2em;
    line-height: 1.3;
  }

  p {
    opacity: 0;
    transition:
      opacity 0.35s ease-in-out,
      max-height 0.35s ease-in-out;
    margin: 0;
    max-height: 0;
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    p {
      opacity: 1;
      max-height: 3rem;
    }

    .game-image {
      transition: height 0.35s ease-in-out;
      height: 100px;
    }
  }

  .game-image {
    position: relative;
    transition: height 0.35s ease-in-out;
    width: 100%;
    height: 150px;

    img {
      border-radius: 0.9375rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
