@use '../../../../app/variables' as *;

.badge {
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #007bff;
  padding: 0.25rem 0.5rem;
  max-width: 7rem;
  color: $white;
  font-weight: 700;
  font-size: 1.125rem;
  user-select: none;
  text-align: center;
}
