.game-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 600px;

  .game-gallery-image {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
  }
  img {
    border-radius: 0.5rem;
  }
}
