header {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  border-image: initial;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px 24px;
  max-width: 460px;
  height: 64px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 36px;
    list-style-type: none;

    li {
      transform-origin: center;
      transition: transform 0.15s ease-in-out;
      will-change: transform;
      font-size: 1.75rem;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
